#ajoutvoiture-id,  #ajoutusers-id {
  width: 10em;
}

#txtRech {
    width: 30em;
}


/* body {
    background-color: rgb(255, 255, 255);
}

.green {
  background-color: rgb(78, 51, 51);
} */

.footer {
  background-color: #343a40;
  text-align: center;
  color:#999a96
}

th {
  vertical-align: middle !important;
}

button {
  border-radius: 10px; /* Utilisez la valeur souhaitée pour arrondir les coins */
}
.w-100 {
  width: 100% !important;
}

.carouselExample {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: w-10 !important;
  position: fixed; 
  max-width: w-10;
}