#ajoutvoiture-id,  #ajoutusers-id {
  width: 10em;
}

#txtRech {
    width: 30em;
}

th {
  vertical-align: middle !important;
}

.row-flex{
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 100%;
  padding: 20px 20px 10px;
}

