thead th:nth-child(3),
tbody td:nth-child(3)
{
  display: none;
}

thead th:nth-child(5),
tbody td:nth-child(5)
{
  display: none;
}

thead th:nth-child(7),
tbody td:nth-child(7) 
{
  display: none;
}

@media screen and (max-width: 767px){
  thead th:nth-child(4),
  tbody td:nth-child(4) 
  {
    display: none;
  }
  thead th:nth-child(6),
  tbody td:nth-child(6) 
  {
    display: none;
  }
  thead th:nth-child(8),
  tbody td:nth-child(8) 
  {
    display: none;
  }
  thead th:nth-child(9),
  tbody td:nth-child(9) 
  {
    display: none;
  }
  thead th:nth-child(10),
  tbody td:nth-child(10) 
  {
    display: none;
  }
}