
$secondary:    #FFF8DC !default;
$info: #FFA07A !default;
$danger: #800020 !default;
$success: #5b3523 !default;
$light: #bcbcbc !default;




@import "../node_modules/bootswatch/dist/slate/variables";
//à la place de [theme] on met le nom du thème choisi
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/slate/bootswatch";
